@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

#app {
  max-height: 100%;
  }
  html {
    font-size: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    h1 {
      font-family: 'Chelsea Market', cursive;
      font-size: 2rem;
      color: #93a1a1;
      font-weight: 700;
      text-align: center;
    }
    .main {
      background: #ffffff;
      box-shadow: 0 5px 20px 0 rgba(179, 179, 179, 0.5);
      border-radius: 0.5rem;
    }
    h2 {
      font-family: 'Chelsea Market', cursive;
      color: #93a1a1;
      text-align: center;
      font-size: 1.125rem;
      margin: 0.75rem 0 3rem 0;
      line-height: 1.5rem;
    }
    .selection {
      position: relative;
      top: 82px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      button {
        cursor: pointer;
        width: 50%;
        padding: 0.75rem;
        background: #fff;
        border: none;
        font-family: 'Chelsea Market', cursive;
        font-size: 0.875rem;
        color: #a6a6a6;
        text-transform: uppercase;
        border-bottom: 1px solid transparent;
        letter-spacing: 0.5px;
        transition-timing-function: ease-in-out;
        transition-duration: 0.25s;
        transition-property: all;
        &:focus {
          outline: none;
        }
      }
      .active {
        border-bottom: 2px solid #A31022;
        font-family: 'Chelsea Market', cursive;
        font-weight: 700;
        font-size: 0.875rem;
        color: #A31022;
        letter-spacing: 0.5px;
      }
    }
  }
  footer {
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    width: 100%;
    // background-image:
    // repeating-linear-gradient(-45deg, #1b1d1f 0px,#1b1d1f 40px, #252729 40px, #252729 42px);
    z-index: -999;
    bottom: 0;
    a {
      text-decoration: none;
      font-family: 'Chelsea Market', cursive;
      font-size: 12px;
      color: #a19d9d !important;
    }
  }
  @media screen and (max-width: 767px) {
    .content {
      padding: 3%;
    }
  }
  @media screen and (min-width: 768px) {
    .content {
      padding: 6% 25% 0 25%;
    }
    .content {
      min-width: 600px;
    }
  }