@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

html {
    font-size: 100%;
  }
  .branch,
  .semester {
    display: flex;
    flex-direction: row;
  }
  .nav,
  .courseitem,
  .result {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .course-list {
    margin: 1rem 0;
    width: 100%;
    tr {
      padding: 0 !important;
      .name {
        padding: 0.5rem 1.25rem;
      }
    }
    td {
      input {
        width: 100%;
        box-sizing: border-box;
        margin: 0 !important;
      }
    }
    td:not(.name) {
      padding: 0.5rem 0.625rem;
    }
  }
  hr {
    height: 0px;
    border: 1px solid #f7f7f7;
  }
  .result {
    align-items: center;
    justify-content: space-around;
    h4 {
      font-family: 'Chelsea Market', cursive;
      font-size: 1.5rem;
      color: #a6a6a6;
    }
    h3 {
      font-family: 'Chelsea Market', cursive;
      font-weight: 700;
      font-size: 4rem;
      color: #A31022;
      .outof {
        font-family: 'Chelsea Market', cursive;
        font-size: 1rem;
        font-weight: normal;
        margin-left: 0.5rem;
        color: #7c95aa;
      }
    }
  }
  .course,
  .courseitem {
    background-color: #fff;
    padding: 0.5rem 1.5rem;
    align-items: center;
    .name,
    p {
      font-family: 'Chelsea Market', cursive;
      font-size: 1rem;
      line-height: 1.5rem;
      color:  #93a1a1;
    }
    input {
      margin: 0 0.5rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      font-family: 'Chelsea Market', cursive;
      font-weight: 700;
      font-size: 0.75rem;
      color:  #93a1a1;
      border: 1px solid #ececec;
      border-radius: 3px;
      text-align: center;
      &:focus {
        border: 1px solid black;
        outline: none;
      }
    }
    input[type="number"] {
      min-width: 25%;
      margin-left: 1.5rem;
    }
    input:-ms-input-placeholder {
      font-family: 'Chelsea Market', cursive;
      font-size: 12px;
      font-weight: normal;
      text-align: center;
      color: #c1c1c1;
    }
    input::-webkit-input-placeholder {
      font-family: 'Chelsea Market', cursive;
      font-size: 12px;
      color: #c1c1c1;
      font-weight: normal;
      text-align: center;
    }
    input::-moz-placeholder {
      font-family: 'Chelsea Market', cursive;
      font-size: 12px;
      color: #c1c1c1;
      font-weight: normal;
      text-align: center;
    }
  }
  .nav {
    position: relative;
    top: -44px;
    border-radius: 4px 4px 0 0;
    padding: 1.5rem;
    label {
      margin-right: 1rem;
      font-family: 'Chelsea Market', cursive;
      font-weight: 600;
      font-size: 1rem;
      color: #93a1a1;
    }
    background-color: #f9f9f9;
    .branch {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      button {
        font-family: 'Chelsea Market', cursive;
        font-size: 0.75rem;
        color: #7c95aa;
        padding: 0.5rem 1.25rem;
        line-height: 12px;
        background: #ffffff;
        border: 1px solid #ececec;
        border-radius: 100px;
        margin-right: 0.75rem;
        cursor: pointer;
        transition-timing-function: ease-in-out;
        transition-duration: 0.3s;
        transition-property: all;
        &:focus {
          outline: none;
        }
      }
      .active {
        background-image: linear-gradient( 109.6deg,  rgba(253,199,141,1) 11.3%, rgba(249,143,253,1) 100.2% );
        color: black;
        font-family: 'Chelsea Market', cursive;
        font-weight: 700;
        letter-spacing: 1px;
      }
    }
    .semester {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      select {
        font-size: 0.75rem;
        font-family: 'Chelsea Market', cursive;
        font-weight: 700;
        color: black;
        background-image: linear-gradient( 109.6deg,  rgba(253,199,141,1) 11.3%, rgba(249,143,253,1) 100.2% );
        padding: 0.5rem 1.5rem;
        border: 1px solid #ececec;
        border-radius: 100px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-position: 88% center;
        background-repeat: no-repeat;
        &:focus {
          outline: none;
        }
      }
    }
  }